.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 70%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    width: 70%;
}

.redefinir {
    width: 70%;
    text-align: center;
    padding-top: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color:#007AFF !important;    
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 14px;
}

.container-cadastro {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-cadastro p {
    font-size: 14px;
}

.container-cadastro span {
    color: #007AFF;
    cursor: pointer;
    font-weight: bold;
}